<div class="about">
    <div id="aboutus"> About US </div>
   <p> This site will help SCU students/faculty to search each other. Students will be able to find there classmates, faculty, subjects which faculty will be teaching in future quarters etc.</p>
   <p> You will need to register first,in order to get started with this site. You can register your profile <a href="/register"> here </a> </p>
<div>