<div class="contact">
<form action="/savecontact" method="post">
   <div id="contactus"> Contact US </div>
   <p>You can reach us - <a href="/"> help@searchbronco.com </a></p>
   <div class="contactUs"> 
	   <p>
	   Please use this form to send us comments, feedback, bug reports, or request assistance in locating resources on the Web site. - 
	   </p>
	  <label class="name">Name: </label>
	  <input type="text" id="name_txt" placeholder="Enter your name" name="contact[fullname]"></br>
	  <label class="subject"> Subject: </label>
	  <input type="text" placeholder="Enter Subject" id="subject" name="contact[subject]"> </br>
	  <label class="email">Email:</label>
	  <input type="text" id="email_txt" placeholder="Enter your email" name="contact[email]"></br>
	  <label class="comment"> Comments: </label>
	  <input type="text" placeholder="Enter your comments" id="comment_txt" name="contact[comments]">
	  <input type="submit" class="help_btn" id="help" value="Send Message">
   <div>
</form>   
<div>