<div class="about">
    <div id="aboutus" style="color: rgb(132, 19, 45);;font-size: 25px;"> Done! </div>
   <p style="color: rgb(132, 19, 45);;font-weight:bolder;"> Your profile has been deleted. But you can Re-Register anytime <a href="/register"> here </a> </p>
  
<div>