<div class="about">
    <div id="aboutus" style="color: rgb(132, 19, 45);;font-size: 25px; margin-left:49px"> Error! </div>
   <p style="color: rgb(132, 19, 45);;font-weight:bolder;"> Looks like your username and password is not correct. If you are not a registered member then please register <a href="/register"> here </a> first. </p>
   <p style="color: rgb(132, 19, 45);;font-weight:bolder;"> If you have already register then please try again with correct username and password. To <a href="/">Login</a></p> 
<div>