<div class="about">
   <div id="aboutus" style="color: rgb(132, 19, 45);;font-size: 25px; margin-left:40px"> Saved! </div>
   <p style="color: rgb(132, 19, 45);;font-weight:bolder;"> We have received your query. We will get back to you shortly.</p>
 <div>